<nz-divider nzOrientation="left" nzText="Placa"></nz-divider>
<p><span nz-icon nzType="car" nzTheme="outline"></span> {{veiculo.placa}}</p>
<nz-divider nzOrientation="left" nzText="Chassi"></nz-divider>
<p><span nz-icon nzType="barcode" nzTheme="outline"></span> {{veiculo.chassi}}</p>
<nz-divider nzOrientation="left" nzText="Renavam"></nz-divider>
<p><span nz-icon nzType="pic-left" nzTheme="outline"></span> {{veiculo.renavam}}</p>
<nz-divider nzOrientation="left" nzText="Descrição"></nz-divider>
<p><span nz-icon nzType="edit" nzTheme="outline"></span> {{veiculo.descricao}}</p>
<nz-divider nzOrientation="left" nzText="Odometro"></nz-divider>
<p><span nz-icon nzType="dashboard" nzTheme="outline"></span> {{veiculo.odometro}}</p>
<nz-divider nzOrientation="left" nzText="Ano"></nz-divider>
<p><span nz-icon nzType="calendar" nzTheme="outline"></span> {{veiculo.ano}}</p>